* {
  --borderRadius: 5px;
  --backgroundColor: whitesmoke;
  --elementBackgroundColor: white;
  --border: 1px lightgrey solid;

  --animationDuration: 0.3s;
}

body {
  background-color: var(--backgroundColor);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: lightgrey;
  padding: 3px 5px;
  border-radius: 5px;
}